@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --p-color: rgba(19, 19, 24, 0.7);
  --h1-color: #131318;
  --h1-font-size: 50px;

  --line-height: 26px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header {
  max-width: 1440px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
main {
  max-width: 1440px;
  margin: 0px auto;
}

footer {
  background: rgba(19, 19, 24, 0.05);
  padding: 110px 335px;
  margin-top: 200px;
  text-align: center;
 
}

.primary-btn {
  padding: 16px 35px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.15s;
}

.primary-btn:hover{

  background-color: #df4c02;

}

.primary-btn:active{
  opacity: 0.6;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.logo-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.travel {
  color: #ff5400;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation > li {
  list-style: none;
}

.navigation > li > a {
  text-decoration: none;
  color: var(--p-color);
  font-size: 1.12rem;
  transition: 0.15s;
}

.orange {
  color: #ff5400;
  font-weight: 700;
  transition: 0.15s;
}

.orange:hover {
  color: var(--p-color);
}

.navigation > li > a:hover {
  color: #ff5400;
}

/* banner styles */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(/Images/banner\ image.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 105px 0px;
  margin-top: 100px;
}

.banner-content {
  text-align: center;
  margin-bottom: 100px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
}

.banner-content > p {
  margin-top: 25px;
  color: white;
  line-height: 26px;
}

.banner-input {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 920px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  gap: 25px;
}

.banner-input input,
select {
  width: 174px;
  padding: 16px 0px 16px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--p-color);
}

i {
  color: white;
}

/* popular-tour section */

.popular-tour-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.tour-content {
  max-width: 575px;
}

.tour-img > img {
  height: 100%;
}

.tour-title {
  color: var(--h1-color);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.tour-description {
  color: var(--p-color);
  line-height: 26px;
  margin: 25px 0px;
}

.tour-list {
  color: var(--p-color);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  padding-left: 30px;

  /* padding-left: 30px; */
}

/* destination section styles */

.destination-section {
  margin-top: 100px;
}

.destination-content {
  text-align: center;
}

.destination-title {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  margin-bottom: 25px;
}

.destination-description {
  color: var(--p-color);
  line-height: var(--line-height);
  margin-bottom: 50px;
}

.destination-images {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.images {
  width: 100%;
  transition: 0.15s;
}

.images:hover {
  transform: scale(1.2);
}

/* chose us section */

.chose-us-section {
  margin-top: 100px;
}

.chose-us-content {
  text-align: center;
}

.chose-us-title {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  font-weight: 800;
  margin-bottom: 25px;
}

.chose-us-description {
  color: var(--p-color);
  line-height: var(--line-height);
}

.card-flex {
  margin-top: 50px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.card-1,
.card-2,
.card-3 {
  padding: 32px;
}

.card-1 {
  width: 50%;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  width: 50%;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  width: 50%;
  margin: 25px auto;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

.card-img {
  margin-bottom: 30px;
}

.card-title {
  color: var(--h1-color);
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 16px;
}

.card-description {
  color: var(--p-color);
  line-height: var(--line-height);
}

/* deals section styles */

.deals-section {
  margin-top: 100px;
}

.deals-content {
  text-align: center;
}

.deals-title {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  margin-bottom: 25px;
}

.deals-description {
  color: var(--p-color);
  line-height: var(--line-height);
  margin-bottom: 50px;
}

.deals-container {
  background-image: url(/Images/Group\ 39.png);
  background-repeat: no-repeat;
  font-style: normal;
  height: 500px;
  padding: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.deals-container-2 {
  background-image: url(/Images/Group\ 40.png);
  background-repeat: no-repeat;
  font-style: normal;
  height: 500px;
  padding: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.deals-container-3 {
  background-image: url(/Images/Group\ 39.png);
  background-repeat: no-repeat;
  font-style: normal;
  height: 500px;
  padding: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.deals-card {
  width: 30%;
  padding: 50px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.deals-stat {
  display: flex;
  align-items: center;
  gap: 25px;
}

.deals-stat > p {
  display: flex;
  align-items: center;
  color: var(--p-color);
  gap: 10px;
}

.deals-card-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}

.deals-card-info {
  color: var(--p-color);
  line-height: var(--line-height);
  margin-bottom: 16px;
}

.price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 25px;
}

.see-all {
  text-align: center;
  margin-top: 50px;
}

/* perfect place section styles */

.perfect-place {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perfect-content {
  width: 50%;
}

.perfect-title {
  color: var(--h1-color);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 40px;
}

.perfect-description {
  color: var(--p-color);
  line-height: var(--line-height);
  margin-bottom: 25px;
}

.perfect-content > ul li {
  margin-bottom: 16px;
}

.perfect-content > ul {
  padding-left: 30px;
}

.see-more {
  margin-top: 50px;
}

.perfect-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background-image: linear-gradient(
      180deg,
      #131318 -31.96%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(/Images/Group\ 40089.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.bangladesh {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

/* subscribe section styles */

.subscribe-section {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 25px;
}

.subscribe-form {
  width: 40%;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}

.subscribe-image {
  position: relative;
  width: 60%;
}
.subscribe-image img {
  position: relative;
  width: 100%;
}
.subscribe-title {
  color: var(--h1-color);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 25px;
}

.subscribe-description {
  color: var(--p-color);
}

hr {
  margin: 50px 0px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 25px;
}

.signup-form > input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 0px 16px 20px;
  outline: none;
  border: none;
}

.off {
  position: absolute;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  right: 5.48px;
  top: 335px;
}

.off-title {
  font-size: 24px;
  font-weight: 400;
}

.second-title {
  font-size: 32px;
  font-weight: 800;
}



/* footer section styles */


.logo-footer{
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 32px;
  color: var(--h1-color);
  font-weight: 800;
  gap: 16px;
  margin-bottom: 25px;
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.footer{
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
}



@media screen and (max-width: 600px)  {
  
  .popular-tour-section,
  main,
  header {
    padding: 0px 20px;
    margin: 0px;
  }

  .banner {
    padding: 32px 5px;
    margin-top: 20px;
    width: 97%;
  }

  .banner-content {
    margin-bottom: 32px;
  }

  .destination-images,
  .popular-tour-section,
  .banner-input,
  .navigation,
  nav {
    flex-direction: column;
    gap: 5px;
  }

  .banner-input input {
    width: 95%;
  }
  select {
    width: 100%;
  }

  .logo {
    flex-direction: row;
  }

  .banner-title {
    font-size: 2rem;
  }

  .destination-title,
  .tour-title {
    font-size: 25px;
  }

  .destination-description,
  .tour-description,
  .tour-list {
    font-size: 16px;
    margin: 16px 0px;
    row-gap: 16px;
  }

  .tour-img {
    margin-top: 25px;
  }

  .tour-img > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .images {
    width: 100%;
    height: 176px;
  }

  .card-flex {
    padding: 0;
    flex-direction: column;
  }

  .card-1,
  .card-2,
  .card-3 {
    padding: 8px;
    width: 95%;
  }

  .chose-us-title {
    font-size: 25px;
  }

  .chose-us-description {
    font-size: 14px;
    line-height: 16px;
  }

  .deals-container,
  .deals-container-2,
  .deals-container-3 {
    flex-direction: column;
    padding: 18px;
    justify-content: flex-end;
  }

  .deals-card {
    width: 100%;
    padding: 10px;
  }

  .deals-stat {
    align-items: normal;
  }
  .deals-stat > p {
    flex-direction: column;
  }

  .deals-title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  .deals-description {
    line-height: 24px;
    margin-bottom: 16px;
  }

  .perfect-place {
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    width: 100%;
  }

  .perfect-img {
    width: 100%;
  }

  .perfect-content {
    width: 100%;
  }

  .perfect-title {
    font-size: 25px;
    line-height: 30px;
  }

  .perfect-content > ul {
    padding-left: 25px;
  }

  .subscribe-section {
    flex-direction: column;
  }

  .subscribe-form {
    width: auto;
  }

  .subscribe-image {
    width: auto;
  }

  .off {
    width: 255px;
    top: 80px;
    right: 8.48px;
  }


  footer{
    width: auto;
    padding: 20px;
  }

  .logo-footer{
    font-size: 25px;
    gap: 5px;
  }


  .footer-content{
    font-size: 14px;
  }
}


@media screen and(min-width:600px) and (max-width:990px) {
  
}