@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --p-color: rgba(19, 19, 24, 0.7);
  --h1-color: #131318;
  --h1-font-size: 50px;

  --line-height: 26px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

header {
  margin: 60px 135px;
}
main {
  margin: 60px 135px;
}

.primary-btn {
  padding: 16px 35px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.logo-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}

.travel {
  color: #ff5400;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation > li {
  list-style: none;
}

.navigation > li > a {
  text-decoration: none;
  color: var(--p-color);
  font-size: 1.12rem;
  transition: 0.15s;
}

.orange {
  color: #ff5400;
  font-weight: 700;
  transition: 0.15s;
}

.orange:hover {
  color: var(--p-color);
}

.navigation > li > a:hover {
  color: #ff5400;
}

/* banner styles */
.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(/Images/banner\ image.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding: 105px 0px;
  margin-top: 100px;
}

.banner-content {
  text-align: center;
  margin-bottom: 100px;
}

.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
}

.banner-content > p {
  margin-top: 25px;
  color: white;
  line-height: 26px;
}

.banner-input {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 920px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  gap: 25px;
}

.banner-input input,
select {
  width: 174px;
  padding: 16px 0px 16px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: var(--p-color);
}

i {
  color: white;
}

/* popular-tour section */

.popular-tour-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.tour-content {
  max-width: 575px;
}

.tour-img > img {
  height: 100%;
}

.tour-title {
  color: var(--h1-color);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.tour-description {
  color: var(--p-color);
  line-height: 26px;
  margin: 25px 0px;
}

.tour-list {
  color: var(--p-color);
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  padding-left: 30px;

  /* padding-left: 30px; */
}

/* destination section styles */

.destination-section {
  margin-top: 100px;
}

.destination-content {
  text-align: center;
}

.destination-title {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  margin-bottom: 25px;
}

.destination-description {
  color: var(--p-color);
  line-height: var(--line-height);
  margin-bottom: 50px;
}

.destination-images > image {
}
.destination-images {
  display: flex;
  flex: 1;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.images {
  transition: 0.6s;
}

.images:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 576px) {
  .popular-tour-section,
  main,
  header {
    padding: 10px;
    margin: 0px;
  }

  .banner {
    padding: 32px 5px;
    margin-top: 20px;
    width: 97%;
  }

  .banner-content {
    margin-bottom: 32px;
  }
  .destination-images,
  .popular-tour-section,
  .banner-input,
  .navigation,
  nav {
    flex-direction: column;
    gap: 5px;
    
  }

  .banner-input input {
    width: 95%;
  }
  select {
    width: 100%;
  }

  .logo {
    flex-direction: row;
  }

  .banner-title {
    font-size: 2rem;
  }

  .destination-title,
  .tour-title {
    font-size: 25px;
  }

  .destination-description,
  .tour-description,
  .tour-list {
    font-size: 16px;
    margin: 16px 0px;
    row-gap: 16px;
  }

  .tour-img {
    margin-top: 25px;
  }

  .tour-img > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .images{
    width: 100%;
    height: 176px;
  }
}
